/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Zen dots', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/bg-levels.png) no-repeat center/cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Level Panel */
  .level-panel {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }
  
  .level-panel-image {
    position: relative;
    top: 20px;
    left: 100px;
    width: 80%;
    height: auto;
    object-fit: contain;
    display: block;
  }
  
  /* Back Button */
.btn-back {
  position: fixed;
  top: 20%;
  right: 28%;
  z-index: 2;
}

.btn-back-image {
  width: 60px;
  height: auto;
  cursor: pointer;
}

/* Prev Level Button */
.btn-prev-level {
  position: fixed;
  left: 24.2%;
  top: 47%;
  z-index: 2;
}

.btn-prev-level-image {
  width: 95px;
  height: auto;
  cursor: pointer;
}

/* Next Level Button */
.btn-next-level {
  position: fixed;
  right: 26.2%;
  top: 47%;
  z-index: 2;
}

.btn-next-level-image {
  width: 95px;
  height: auto;
  cursor: pointer;
}
  
  .btn-back:hover, .btn-prev-level:hover, .btn-next-level:hover {
    transform: scale(1.1);
  }
  
  /* Course Title */
  .course-level {
    position: absolute;
    top: 14%;
    left: 48%;
    transform: translateX(-50%);
    font-size: 54px;
    font-weight: bold;
    font-family: zendots;
    text-align: center;
    color: #FCAE00;
    text-transform: uppercase;
    z-index: 2;
  }

  /* Level Cards Section */
  .level16-cards {
    position: absolute;
    padding: 30px;
    top: 25%;
    left: 42%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 600px;
    z-index: 2;
    font-family: zen dots;
  }
  
  .level-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg-level-card.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 130px;
    height: 150px;
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: zen dots;
    text-decoration: none;
    color: inherit;
  }
  
  .level-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .level-card-image {
    width: 100px;
    height: 100px;
  }
  
  .level-number {
    font-size: 40px;
    font-weight: bold;
    color: #F5F900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  