/* General Reset */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: url(../img/bgdashboard.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
  body {
    background-size: cover; /* Keep it covering */
    background-position: center top; /* Adjust the position for smaller screens */
  }
}

/* For very small screens (mobile) */
@media screen and (max-width: 480px) {
  body {
    background-size: cover; /* Keep the image fully covering */
    background-position: center; /* Center the image on small screens */
  }
}

/* Main Content Styles */
.main-content {
  padding: 10px;
  flex: 1;
  min-height: calc(100vh - 60px);
}

/* Leaderboard Panel Styles */
.leaderboard-panel {
  background: linear-gradient(to bottom, #035CC2, #073269); /* Gradient background */
  color: #fff; /* Text color */
  padding: 10px;
  border-radius: 20px;
  border-left: 1px solid #019AEC;  /* Left border */
  border-right: 1px solid #019AEC; /* Right border */
  border-top: 1px solid #019AEC;   /* Top border */
  border-bottom: 4px solid #019AEC; /* Bottom border */
  box-shadow: 0 8px 16px #019AEC;
  width: 80%;
  max-width: 18%;
  height: 100%;
  max-height: 50%;
  margin-left: 8%; /* Align to the left */
  margin-right: auto; /* Keep the right margin auto for left alignment */
  margin-top: 8%;
  text-align: start;
  position: relative;
}

/* See All Link Styling */
.see-all {
  float: right;
  font-size: 14px;
  font-family: Poppins;
}

.see-all a {
  text-decoration: none;
  color: white;
}

.see-all a:hover {
  text-decoration: underline;
  color: #019AEC;
}


/* Additional Shadow Effect (drop shadow) */
.shadow-drop-blue {
  box-shadow: 0 4px 12px rgba(0, 0, 255, 0.3); /* Blue shadow effect */
}

.leaderboard-panel h2 {
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 0;
  font-family: Poppins;
}

/* Top 1-3 Players (Row) */
.top-3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.top-3 .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Styling the ranks */
.top-3 .rank {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 5%;
}

/* Top 1-3 Players (Row) */
.top-3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

/* Player container */
.top-3 .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Styling for Rank 1 */
.top-3 .rank-1 {
  position: absolute;
  top: 2%;
  left: 30%;
  transform: translateX(-50%);
  font-size: 20px;  /* Scale the rank size */
  font-weight: bold;
  font-family: Poppins;
  color: #fff;
}

/* Styling for Rank 2 */
.top-3 .rank-2 {
  position: absolute;
  top: 5%;
  left: 28%;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins;
  color: #fff;
}

/* Styling for Rank 3 */
.top-3 .rank-3 {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins;
  color: #fff;
}

/* Player image styling */
.top-3 .player-image {
  width: 50px;  /* Adjust the size of the image */
  height: 50px;
  border-radius: 50%; /* Make the image round */
  object-fit: cover;  /* Ensure the image fits the circle */
  margin-top: 20px; /* Space between rank and image */
}

/* Player image styling for rank 1 (larger) */
.top-3 .player-image-1 {
  width: 80px; /* Larger size for rank 1 */
  height: 80px;
}

/* Player name styling */
.top-3 .player-name {
  font-size: 16px;
  font-family: Poppins;
  color: #fff;
  margin-top: 5px;  /* Space between the image and the name */
}


/* Top 4-10 Players (Column) */
.top-4-10 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6px;
}

.top-4-10 .player {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #035CC2, #073269); /* Gradient background */
  border-left: 1px solid #019AEC;  /* Left border */
  border-right: 1px solid #019AEC; /* Right border */
  border-top: 1px solid #019AEC;   /* Top border */
  border-bottom: 1px solid #019AEC; /* Bottom border */
  border-radius: 0; /* Optional: Rounded corners for player block */
}

.top-4-10 .rank {
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins;
  margin-right: 6px;
  margin-left: 1%;
}

.top-4-10 .player-name {
  font-size: 16px;
  color: #fff;
  margin-left: 16px;
}

.top-4-10 .player-course {
  font-size: 14px;
  color: #aaa; /* Lighter color for the course */
  margin-left: 10px; /* Space between player name and course */
  text-align: right; /* Align text to the right */
}

/* Player Image Styles */
.player-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px; /* Space between rank and image */
}

/* Optional: You can also adjust size for better display in leaderboard */
.top-3 .player img,
.top-4-10 .player img {
  width: 40px;  /* Adjust as necessary */
  height: 40px;
  object-fit: cover; /* Ensures the image fits in the circle */
  border-radius: 50%;
}

/* Style for the swiper-container */
.swiper-container {
  width: 30%;
  position: absolute;
  bottom: 35%;
  left: 34%;
}

/* Image styling at the top */
.intro-image {
  width: 60%;
  height: 40%;
  text-align: center;
  position: absolute;
  bottom: 48%;
  left: 20%;
}

.intro-image img {
  width: 70%;
  max-width: 90%;
  height: auto;

}

/* Style for each swiper-slide */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  background-color: #223F77;
  overflow: hidden;
  border-radius: 8px;
  opacity: unset;
  border: 7px solid #223F77;
}

.picture {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Styling for the swiper-pagination bullets */
.swiper-pagination-bullet {
  background: #007aff;
  opacity: 1.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

/* Locked and unlocked styles */
.locked {
  filter: grayscale(100%);
  opacity: 0.6;
  pointer-events: none; /* Prevent interaction */
}

.unlocked {
  filter: none;
  opacity: 1;
  pointer-events: auto;
}

/* Lock overlay for locked images */
.lock-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 4px;
  display: none; /* Hidden for unlocked images */
}

.locked + .lock-overlay {
  display: block; /* Show lock overlay for locked images */
}

.picture {
  position: relative;
}



/* Style for the panel box */
.panel-box {
  position: relative;
  bottom: 2%; /* Distance from the bottom */
  left: 52%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  width: 100%; /* Width of the panel */
  height: 80%; /* Height of the panel */
  max-height: 28%; /* Maximum height */
  max-width: 90%; /* Maximum width */
  background: linear-gradient(to bottom, #035CC2, #073269); /* Gradient background */
  border-left: 1px solid #019AEC; /* Left border */
  border-right: 1px solid #019AEC; /* Right border */
  border-top: 1px solid #019AEC; /* Top border */
  border-bottom: 4px solid #019AEC; /* Bottom border */
  box-shadow: 0 8px 16px #019AEC;
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners */
  text-align: center; /* Center-align text */
  margin-top: 1%;
}

/* Container for My Courses and Popular Courses in 2 columns */
.courses-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two equal columns */
  gap: 10px; /* Space between columns */
  padding: 20px;
  position: relative;
  top: -20%;
}

/* Style for each courses column */
.courses-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* Style for the tables */
.courses-table {
  width: 100%;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: collapse;
}

.courses-table thead {
  background-color: #019AEC;
  color: #fff;
}

.courses-table th, .courses-table td {
  padding: 10px 10px;
  text-align: left;
}

.courses-table th {
  font-size: 1.2rem;
  border: none;
}

.course-table tr {
  margin-top: 20px;
  border: none;
}

.courses-table td {
  width: 100%;
  font-size: 1rem;
  background: linear-gradient(to right, #035CC2, #073269);
  border-bottom: 1px solid #019AEC;
}

.courses-table tr:hover td {
  background-color: #f1f1f1;
}

/* Title for sub-sections */
.panel-box h4 {
  position: relative;
  font-size: 1.2rem;
  font-family: Poppins;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  display: flex; /* Enable flexbox */
  justify-content: space-evenly; /* Push the link to the right */
  align-items: center; /* Vertically align items */
}

/* Style for "See All" link */
.see-all-link {
  font-size: 0.9rem;
  color: #fff; /* Link color */
  text-decoration: underline;
  transition: color 0.3s ease;
  margin-left: 580px;
}

.see-all-link:hover {
  color: #0286DF;
}


/* Profile image style */
.profile-img {
  width: 30px; /* Size of the profile image */
  height: 30px; /* Size of the profile image */
  border-radius: 50%; /* Circular shape */
  margin-left: -10px; /* Overlap profile images */
  border: 2px solid #035CC2; /* Add a border for better visibility */
  z-index: 1; /* Ensure proper stacking order */
}

/* Limit number of rows visible */
.courses-table tr:nth-child(n+6) {
  display: none; /* Hide rows greater than the 5th row */
}

/* Add a 'Show More' button to show all rows */
.show-more-btn {
  background-color: #019AEC;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.show-more-btn:hover {
  background-color: #035CC2;
}

.avatar-group {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar-group-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  border: none;
}

.hidden {
  display: none;
}

.hidden-avatar-count {
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  width: 30px; /* Same size as the profile image */
  height: 30px; /* Same size as the profile image */
  background: linear-gradient(to right, #035CC2, #073269);
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  margin-left: -10px; /* Keep consistent spacing with images */
  z-index: 1; /* Lower stacking order than images */
}

.avatar-group .profile-img:first-child {
  margin-left: 0; /* No negative margin for the first image */
}

/* Responsiveness for smaller screens */
@media screen and (max-width: 1024px) {
  /* For tablets and smaller screens */
  .panel-box {
    max-height: 35%; /* Adjust max height */
    max-width: 95%; /* Adjust max width */
    overflow-y: auto;
  }

  .courses-container {
    grid-template-columns: 1fr; /* Stack the columns on smaller screens */
  }

  .courses-column {
    width: 100%; /* Ensure each column takes full width on smaller screens */
  }

  .see-all-link {
    margin-left: 0; /* Remove margin */
    text-align: center; /* Center the link */
    display: block; /* Ensure it appears on its own line */
  }
  
  .profile-img {
    width: 25px; /* Smaller profile images */
    height: 25px;
  }
}

@media screen and (max-width: 768px) {
  /* For mobile screens */
  .panel-box {
    max-height: 40%; /* Adjust max height */
    max-width: 90%; /* Adjust max width */
    padding: 10px; /* Reduce padding */
    overflow-y: auto;
  }

  .courses-container {
    grid-template-columns: 1fr; /* Stack the columns on smaller screens */
  }

  .courses-table td {
    font-size: 0.9rem; /* Smaller font size for tables */
  }

  .see-all-link {
    font-size: 0.8rem; /* Reduce font size */
    margin-left: 0;
    text-align: center; /* Center the link */
  }
  
  .profile-img {
    width: 20px; /* Smaller profile images */
    height: 20px;
  }

  .hidden-avatar-count {
    font-size: 0.7rem; /* Smaller hidden count font */
  }
}


/* FOR ALL POPUP MODAL */
/* Solo Mode Modal Styles */
.solo-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  justify-content: center;
  align-items: center; /* Center the modal vertically */
}

.solo-modal-content {
  background-image: url(../img/bgpanel.png);
  margin: 5% auto; /* Decrease margin for a larger modal */
  padding: 10px; /* Increase padding for more space inside */
  border-radius: 8px;
  width: 60%; /* Increase width for a larger modal */
  max-width: 600px; /* Increase max-width */
  height: 100%;
  max-height: 300px;
  text-align: center;
  box-shadow: 0 8px 16px #0286DF;
  display: flex;
  flex-direction: row; /* Arrange content vertically */
  align-items: center;
  justify-content: center;
  position: relative; /* To position the close button */
  top: 20%;
}

/* Align the close button to the top right corner */
.solo-close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.solo-close:hover,
.solo-close:focus {
  color: #000;
  text-decoration: none;
  scale: 1.1;
}

/* Styling for the button container to align buttons side by side */
.solo-modal-content button {
  display: inline-block; /* Align buttons next to each other */
 
}

/* Solo Start Button */
.solo-start-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 4px 8px; /* Add padding to make buttons bigger */
  width: auto; /* Let the width adjust based on the content */
}

/* Button Hover Effect */
.solo-start-btn:hover {
  scale: 1.1;
}


/* Multiplayer Mode Modal Styles */
.multiplayer-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  justify-content: center;
  align-items: center; /* Center the modal vertically */
}

.multiplayer-modal-content {
  background-image: url(../img/bgpanel.png);
  margin: 5% auto; /* Decrease margin for a larger modal */
  padding: 10px; /* Increase padding for more space inside */
  border-radius: 8px;
  width: 60%; /* Increase width for a larger modal */
  max-width: 600px; /* Increase max-width */
  height: 100%;
  max-height: 300px;
  text-align: center;
  box-shadow: 0 8px 16px #0286DF;
  display: flex;
  flex-direction: row; /* Arrange content vertically */
  align-items: center;
  justify-content: center;
  position: relative; /* To position the close button */
  top: 20%;
}

.multiplayer-close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.multiplayer-close:hover,
.multiplayer-close:focus {
  color: #000;
  text-decoration: none;
  scale: 1.1;
}

.multiplayer-modal-content button{
  display: inline-block; /* Align buttons next to each other */
}

.multiplayer-start-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 4px 8px; /* Add padding to make buttons bigger */
  width: auto; /* Let the width adjust based on the content */
}

.multiplayer-start-btn:hover {
  scale: 1.1;
}

/* Practice Mode Modal Styles */
.practice-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.practice-modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.practice-close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.practice-close:hover,
.practice-close:focus {
  color: #000;
  text-decoration: none;
}

.practice-start-btn {
  background-color: #28A745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.practice-start-btn:hover {
  background-color: #218838;
}

/* Custom Mode Modal Styles */
.custom-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

.custom-modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.custom-close:hover,
.custom-close:focus {
  color: #000;
  text-decoration: none;
}

.custom-start-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.custom-start-btn:hover {
  background-color: #0056b3;
}


/* FOR USER'S LOBBY */
/* -------------------User's Lobby Modal------------------------------ */
.users-lobby-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.users-lobby-modal-content {
  background-image: url(../img/bgpanel.png);
  padding: 2rem;
  border-radius: 10px;
  width: 1000px;
  text-align: center;
  box-shadow: 0 8px 16px #0286DF;
  position: relative;
}

.users-lobby-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.users-lobby-close:hover {
  transform: scale(1.1);

}
.users-lobby-title {
  display: inline-block;
  color: #fff;
  font-family: Poppins;;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.users-lobby-id {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
}

.users-lobby-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.users-lobby-table th, .users-lobby-table td {
  padding: 5px;
  text-align: center;
}

.users-lobby-table th {
  visibility: hidden;
  
}

.users-lobby-table td {
  border: 1px solid #ddd;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-name {
  color: #fff;
  font-family: Poppins;
  text-align: center;
}

.users-lobby-modal-content .users-lobby-reload .users-lobby-start {
  display: flex;
  justify-content: space-between; /* Align items to the start and end */
  align-items: center /* Vertically align items if needed */
  
}

.users-lobby-reload {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.7s ease; /* Optional hover effect */
}

.users-lobby-reload img:hover,
.users-lobby-start img:hover {
  transform: scale(1.1); /* Slight zoom-in effect on hover */
}

#usersLobbyReload {
  float: left
}

#usersLobbyStart {
  float: right;
}

/* Clear floats */
.users-lobby-modal-content::after {
  content: "";
  display: table;
  clear: both;
}


/* ---------Joining Lobby Modal ---------------------*/ 
.users-join-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.users-join-modal-content {
  background-image: url(../img/bgpanel.png);
  padding: 2rem;
  border-radius: 8px;
  width: 900px;
  text-align: center;
  box-shadow: 0 8px 16px #0286DF;
  position: relative;
}

.users-back-close {
  position: absolute;
  top: 0;
  right: 0;
}

.users-back-close:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Align btnjoin.png to the bottom-right */

.users-join-btn {
  display: flex;
  justify-content: end;
}

.users-join-close:hover, .users-join-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.users-Join-title {
  color: #fff;
  font-family: Poppins;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.users-join-id {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  margin: 5px 0; /* Add spacing */
}

.users-join-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  padding: 10px;
}

.users-join-table th, .users-join-table td {
  padding: 10px;
  text-align: center;
  color: #fff; /* Set white font color */
}

.users-join-table th {
  border: 1px solid #ddd;
}

.users-join-table td {
  border: 1px solid #ddd;
  margin: 5px 0; /* Add spacing between rows */
}

.join-user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.join-user-name {
  color: #fff;
  font-family: Poppins;
  text-align: center;
}

.join-ID {
  color: #fff;
  font-family: Poppins;
  text-align: center;
  margin: 5px 0; /* Add spacing */
}

/* walkthrough */
/* Example for the tutorial overlay */
.tutorial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10000;
}

.tutorial-overlay .tutorial-text {
  background-color: rgba(98, 0, 234, 0.95);
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}
